<div class="container-test">
  <h1>Prueba Tecnica</h1>
  <p>Natalie Santiago</p>

  <div class="notification-form">
    <h2>Tipo de notificación</h2>
    <form class="">
      <div class="notification-type">
        <div class="type">
          <input type="radio" name="notification" id="info" value="Info" [(ngModel)]="notificationType">
          <label class="custom-check" for="info">Info</label>
        </div>
        <div class="type">
          <input type="radio" name="notification" id="error" value="Error" [(ngModel)]="notificationType">
          <label class="custom-check" for="error">Error</label>
        </div>
      </div>
      <input class="message-input" type="text" name="message" value="" [(ngModel)]="message">
      <div class="container-button">
        <button type="button" name="button" (click)="showNotification()">Previsualizar</button>
      </div>
    </form>
  </div>
</div>
